*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};

.container1 {
    max-width: 1177px;
};

body {
    font-family: 'Josefin Sans', sans-serif;;
};

.hero__block2 {
    position: relative;
    background-image: url('/images/Ellipse63.png'), url('/images/Ellipse64.png');
    background-repeat: no-repeat;
    background-position: 0px 50px;
    background-size: contain;
    z-index:100;
}
.image-divan {
    position: relative;
    background-image: url('/images/bg_vector14.svg');
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 450px 0px;
    z-index: 999999;
    } 